/*
:filename: statics.css.colors_dark.css
:author:   Brigitte Bigi
:contact:  develop@sppas.org
:summary:  Dark colors to be used for SPPAS User Interface.

.. _This file is part of SPPAS: https://sppas.org/
..
    -------------------------------------------------------------------------

     ___   __    __    __    ___
    /     |  \  |  \  |  \  /              the automatic
    \__   |__/  |__/  |___| \__             annotation and
       \  |     |     |   |    \             analysis
    ___/  |     |     |   | ___/              of speech

    Copyright (C) 2011-2023 Brigitte Bigi
    Laboratoire Parole et Langage, Aix-en-Provence, France

    Use of this software is governed by the GNU Public License, version 3.

    SPPAS is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    SPPAS is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with SPPAS. If not, see <http://www.gnu.org/licenses/>.

    This banner notice must not be removed.

    -------------------------------------------------------------------------
*/

.dark {
    /* SPPAS colors */
    --sppas-color: rgb(47, 47, 87);
    --sppas-color2: rgb(74, 74, 120);
    --sppas-color-contrast: rgb(167, 167, 207);
    --sppas-color-contrast2: rgb(127, 127, 167);

    /* Background colors */
    --bg-color: rgb(30, 30, 35);
    --bg-color2: rgb(45, 45, 50);
    --buttons-bg-color: rgb(60, 60, 75);
    --panels-bg-color1: rgb(50, 50, 55);
    --panels-bg-color2: rgb(60, 60, 65);

    /* Foreground colors */
    --fg-color: rgb(250, 250, 245);
    --fg-color-a: rgba(250, 250, 245, 0.5);
    --fg-color2: rgb(230, 230, 235);
    --fg-color2-a: rgba(230, 230, 235, 0.5);
    --h1-color: var(--sppas-color-contrast);
    --h2-color: rgb(180, 60, 60);
    --h3-color: rgb(60, 160, 60);
    --a-color: rgb(100, 100, 230);

    /* HTML tags */
    --mark-color: #6F4F3F;
    --ins-color: #388e3c;
    --del-color: #c62828;
    --blockquote-border-color: var(--sppas-color-contrast2);
    --blockquote-footer-color: var(--sppas-color-contrast);
    --table-border-color: rgb(147, 147, 187);
    --table-row-stripped-bg-color: rgba(50, 50, 54, 0.5);
    --table-head-bg-color: rgb(222, 218, 214);

    /* Sparrows specific */
    --page-home-color: rgba(128, 128, 128, 0.75);
    --page-files-color: rgba(228, 128, 128, 0.75);
    --page-edit-color: rgba(240, 220, 205, 0.75);
}
