/*
:filename: statics.css.colors_light.css
:author:   Brigitte Bigi
:contact:  develop@sppas.org
:summary:  Light colors to be used for SPPAS User Interface.

.. _This file is part of SPPAS: https://sppas.org/
..
    -------------------------------------------------------------------------

     ___   __    __    __    ___
    /     |  \  |  \  |  \  /              the automatic
    \__   |__/  |__/  |___| \__             annotation and
       \  |     |     |   |    \             analysis
    ___/  |     |     |   | ___/              of speech

    Copyright (C) 2011-2023 Brigitte Bigi
    Laboratoire Parole et Langage, Aix-en-Provence, France

    Use of this software is governed by the GNU Public License, version 3.

    SPPAS is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    SPPAS is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with SPPAS. If not, see <http://www.gnu.org/licenses/>.

    This banner notice must not be removed.

    -------------------------------------------------------------------------
*/

.light {
    /* SPPAS colors */
    --sppas-color: rgb(22, 22, 47);
    --sppas-color2: rgb(47, 47, 87);
    --sppas-color-contrast: rgb(127, 127, 167);
    --sppas-color-contrast2: rgb(147, 147, 187);

    /* Background colors */
    --bg-color: rgb(252, 248, 244);
    --bg-color2: rgb(240, 234, 230);
    --buttons-bg-color: rgb(180, 185, 190);
    --panels-bg-color1: rgb(228, 224, 218);
    --panels-bg-color2: rgb(216, 210, 206);

    /* Foreground colors */
    --fg-color: rgb(40, 40, 55);
    --fg-color-a: rgba(40, 40, 55, 0.6);
    --fg-color2: rgb(55, 55, 70);
    --fg-color2-a: rgba(55, 55, 70, 0.6);
    --buttons-fg-color: rgb(20, 24, 40);
    --h1-color: var(--sppas-color2);
    --h2-color: rgb(120, 20, 20);
    --h3-color: rgb(60, 160, 60);
    --a-color: rgb(40, 40, 120);

    /* HTML tags */
    --mark-color: #6F4F3F;
    --ins-color: #388e3c;
    --del-color: #c62828;
    --blockquote-border-color: var(--sppas-color2);
    --blockquote-footer-color: var(--sppas-color);
    --table-border-color: rgb(147, 147, 187);
    --table-row-stripped-bg-color: rgba(222, 218, 214, 0.5);
    --table-head-bg-color: rgb(222, 218, 214);

    /* Sparrows specific */
    --page-home-color: rgba(128, 128, 128, 0.75);
    --page-files-color: rgba(228, 128, 128, 0.75);
    --page-edit-color: rgba(240, 220, 205, 0.75);
}
