
/* ============ Properties of the whole setup header =========== */

.setup-header {
    width: 100%;
    column-gap: 2rem;
    margin: auto;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    text-align: center;
}

/* ----------- Styling the link button ----------- */

.button-link {
    background: transparent;
}

/* ----------- Styling the content --------------- */

.breadcrumb {
    overflow: hidden;
    display: inline-flex;
    margin: 0;
    border: none;
}

/* Styling the list of wizard items like arrows.
Inspired from: https://codepen.io/arkev/pen/nRGEYZ
*/

.breadcrumb li {
	text-decoration: none;
	outline: none;
	display: block;
	float: left;
	font-size: 85%;
	line-height: 2.5rem;   /* approx. = 3 * 0.85 */
    color: var(--sppas-color-contrast);
    background: var(--sppas-color);
	position: relative;
    padding-left: 3rem;
    padding-right: 1rem;
}

.breadcrumb li:first-child {
    padding-left: 1rem;
    border-radius: 0.5rem 0 0 0.5rem;
}

.breadcrumb li:last-child {
    border-radius: 0 0.5rem 0.5rem 0;
    padding-right: 1.5rem;
}

.breadcrumb li.active, .breadcrumb li.active:before {
    background: var(--sppas-color-contrast);
    color: var(--sppas-color);
}


/* Adding the arrows for the breadcrumbs */
.breadcrumb li:after {
    z-index: 1;  /* prevent the arrows from getting buried under the next link */
    content: '';
    position: absolute;
    top: 0;
    right: -1.25rem;  /* half of square's length */
    /* width/height must be the line-height of the wizard. */
    width: 2.5rem;
    height: 2.5rem;
    transform: scale(0.707) rotate(45deg);
    background: var(--sppas-color);
    /* Arrow design using box shadow.*/
    box-shadow: 2px -2px 0 2px rgba(10, 10, 30, 0.5), 3px -3px 0 2px rgba(240, 240, 255, 0.3);
    border-radius: 0 5px 0 50px;
}

.breadcrumb li.active:after {
    background: var(--sppas-color-contrast);
}

/* No arrow after the last item */
.breadcrumb li:last-child:after {
	content: none;
}

.breadcrumb li:before {
	line-height: 1.25rem;
	position: relative;
}

.breadcrumb li.visited, .breadcrumb li.visited:before, .breadcrumb li.visited:after {
    background: var(--sppas-color2);
    color: var(--sppas-color-contrast);
}


/* ====================== Properties of the Content ================== */

.wizard-panel {
    position: relative;
    perspective: 600px;
}

.wizard-fieldset {
    min-height: 360px;
    max-height: 600px;
    height: 500px;
    overflow: scroll;
    border: var(--focus-border-width) solid firebrick;
    border-radius: 0.5rem;
    box-sizing: border-box;
    width: 80%;
    transform-origin: top left;
    display: block;
    transition: all 0.4s;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    padding-bottom: .5rem;
    /* put the content like a document: more blank at left */
    padding-left: 1.5rem;
    padding-right: 1rem;
}

.wizard-fieldset legend {
    background: firebrick;
    color: whitesmoke;
    vertical-align: center;
    font-size: 1.1rem;
    font-weight: normal;
    font-family: SansFont, 'Verdana', sans-serif;
    border-radius: 0.25rem;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 1rem;
    margin-left: 3rem;
}

.welcome-panel {
    margin-top: 3rem;
    margin-bottom: 3rem;
    vertical-align: center;
}

.welcome-panel img {
    max-height: 10rem;
}


/* ====================== Properties of the actions ================== */

.setup-actionbar {
    width: 60%;
    column-gap: 2rem;
    margin: auto;
}

.setup-actionbar > *:last-child {
    margin-left: 4rem;
}

/* ------ Specific buttons for the setup ------ */

.install-button {
    background: rgb(85, 107, 45);
    color: whitesmoke;
}

.install-button:hover:enabled {
    background-color: rgba(85, 107, 45, 0.6);
}

.features-table {
    border: var(--focus-border-width) solid var(--sppas-color-contrast);
    caption-side: top;
}

.features-table td:first-child {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.features-caption {
    background-color: var(--sppas-color-contrast);
    color: whitesmoke;
    text-align: left;
    padding-left: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.p-brief {
    font-size: 100%;
    font-weight: bold;
    padding-top: 0.1rem;
    padding-bottom: 0.2rem;
    margin: 0;
}

.p-descr {
    font-size: 100%;
    margin: 0;
    padding-bottom: 0.1rem;
}

/* same content and counter than the global ol li */
.license-ol li:before {
    color: var(--fg-color2);
    background-color: var(--bg-color2);
    border: var(--focus-border-width) solid var(--sppas-color2);
    border-radius: 0.8rem;
    padding-left: 0.5rem;
    padding-right: 0.4rem;
}
