		</div>
    </div>

    <!----------------------------------------------------------------->

    <div class="footer">
        <a href="index.html"><img src="./etc/logos/sppas-logo.png" alt="SPPAS"></a>
        <p class="copyright">
            <a href="mailto:contact@sppas.org">Brigitte Bigi</a> &copy; 2011-2023
        </p>
    </div>

    <div class="cols1 rainbow">
        <p></p>
    </div>
    <div class="cols1 rainbow">
        <p></p>
    </div>

    <!----------------------------------------------------------------->

    <span class="scrollT"></span>
    <script type="text/javascript" src="./etc/scripts/jquery.min.js"></script>
    <script type="text/javascript" src="./etc/scripts/scrollT.js"></script>
    <script type="text/javascript">
        // On active la fonction permettant de faire apparaitre l'indicateur
        // de scroll pour remonter en haut de page.
        $(document).ready(function()
        {
            $(this).scrollT();
        });
    </script>

    <!----------------------------------------------------------------->
